# Top Institutes in India

In [2]:
# import requests
# from bs4 import BeautifulSoup
# import pandas as pd
# from selenium import webdriver
# import time
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.wait import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC

In [7]:
# def NIRF_scrape(url):
#     df= pd.read_html(url)[0]
#     del df['Institute ID']
#     df_sorted=df.sort_values(by ='City')
#     #value = input("Enter the State you want to sort it according: ")
#     #filtered_df = df[df['City'] == value]
    
    
#     return df


# def scrape_NIRF(writer,df):
#     df.to_excel(writer,sheet_name='NIRF Institute Rankings')
    
# df1=NIRF_scrape("https://www.nirfindia.org/Rankings/2023/EngineeringRanking.html")


# with pd.ExcelWriter('Institute_Rankings.xlsx') as writer:
#     scrape_NIRF(writer,df1)

In [8]:
pd.options.display.max_rows = 9999

## NIRF INSTITUTE RANKINGS

In [9]:
df1.head(100)

,Name,City,State,Score,Rank
0,Indian Institute of Technology MadrasMore Deta...,Chennai,Tamil Nadu,89.79,1
1,Indian Institute of Technology DelhiMore Detai...,New Delhi,Delhi,87.09,2
2,Indian Institute of Technology BombayMore Deta...,Mumbai,Maharashtra,80.74,3
3,Indian Institute of Technology KanpurMore Deta...,Kanpur,Uttar Pradesh,80.65,4
4,Indian Institute of Technology RoorkeeMore Det...,Roorkee,Uttarakhand,75.64,5
5,Indian Institute of Technology KharagpurMore D...,Kharagpur,West Bengal,73.76,6
6,Indian Institute of Technology GuwahatiMore De...,Guwahati,Assam,70.32,7
7,Indian Institute of Technology HyderabadMore D...,Hyderabad,Telangana,70.28,8
8,National Institute of Technology Tiruchirappal...,Tiruchirappalli,Tamil Nadu,69.71,9
9,Jadavpur UniversityMore Details | |,Kolkata,West Bengal,67.04,10
10,Vellore Institute of TechnologyMore Details | |,Vellore,Tamil Nadu,66.59,11
11,"National Institute of Technology Karnataka, Su...",Surathkal,Karnataka,65.26,12
12,Anna UniversityMore Details | |,Chennai,Tamil Nadu,65.06,13
13,Indian Institute of Technology IndoreMore Deta...,Indore,Madhya Pradesh,63.93,14
14,Indian Institute of Technology (Banaras Hindu ...,Varanasi,Uttar Pradesh,63.74,15
15,National Institute of Technology RourkelaMore ...,Rourkela,Odisha,62.79,16
16,Indian Institute of Technology (Indian School ...,Dhanbad,Jharkhand,62.37,17
17,Indian Institute of Technology GandhinagarMore...,Gandhinagar,Gujarat,61.66,18
18,Amrita Vishwa VidyapeethamMore Details | |,Coimbatore,Tamil Nadu,61.54,19
19,Thapar Institute of Engineering and Technology...,Patiala,Punjab,61.24,20
20,National Institute of Technology WarangalMore ...,Warangal,Telangana,61.13,21
21,Indian Institute of Technology RoparMore Detai...,Rupnagar,Punjab,60.51,22
22,National Institute of Technology CalicutMore D...,Kozhikode,Kerala,60.28,23
23,Institute of Chemical TechnologyMore Details | |,Mumbai,Maharashtra,59.70,24
24,Birla Institute of Technology & Science -Pilan...,Pilani,Rajasthan,59.52,25
25,"Jamia Millia Islamia,New DelhiMore Details | |",New Delhi,Delhi,59.30,26
26,Siksha `O` AnusandhanMore Details | |,Bhubaneswar,Odisha,58.92,27
27,S.R.M. Institute of Science and TechnologyMore...,Chennai,Tamil Nadu,58.56,28
28,Delhi Technological UniversityMore Details | |,New Delhi,Delhi,58.34,29
29,Indian Institute of Technology JodhpurMore Det...,Jodhpur,Rajasthan,58.03,30
30,Amity UniversityMore Details | |,Gautam Budh Nagar,Uttar Pradesh,57.30,31
31,Aligarh Muslim UniversityMore Details | |,Aligarh,Uttar Pradesh,57.26,32
32,Indian Institute of Technology MandiMore Detai...,Mandi,Himachal Pradesh,56.49,33
33,Shanmugha Arts Science Technology & Research A...,Thanjavur,Tamil Nadu,56.21,34
34,Indian Institute of Engineering Science and Te...,Howrah,West Bengal,56.12,35
35,Kalasalingam Academy of Research and Education...,Srivilliputtur,Tamil Nadu,55.69,36
36,Malaviya National Institute of TechnologyMore ...,Jaipur,Rajasthan,55.60,37
37,Chandigarh UniversityMore Details | |,Mohali,Punjab,55.20,38
38,Kalinga Institute of Industrial TechnologyMore...,Bhubaneswar,Odisha,55.14,39
39,National Institute of Technology SilcharMore D...,Silchar,Assam,55.07,40
40,Indian Institute of Technology PatnaMore Detai...,Patna,Bihar,55.03,41
41,"Visvesvaraya National Institute of Technology,...",Nagpur,Maharashtra,55.03,41
42,National Institute of Technology DurgapurMore ...,Durgapur,West Bengal,53.91,43
43,Koneru Lakshmaiah Education Foundation Univers...,Vaddeswaram,Andhra Pradesh,53.69,44
44,Sri Sivasubramaniya Nadar College of Engineeri...,Kalavakkam,Tamil Nadu,52.88,45
45,Dr. B R Ambedkar National Institute of Technol...,Jalandhar,Punjab,52.85,46
46,Indian Institute of Technology BhubaneswarMore...,Bhubaneswar,Odisha,52.42,47
47,Indian Institute of Space Science and Technolo...,Thiruvananthapuram,Kerala,52.04,48
48,Motilal Nehru National Institute of Technology...,Prayagraj,Uttar Pradesh,51.89,49
49,Lovely Professional UniversityMore Details | |,Phagwara,Punjab,51.47,50
50,National Institute of Technology DelhiMore Det...,Delhi,Delhi,51.41,51
51,Visvesvaraya Technological UniversityMore Deta...,Belgaum,Karnataka,51.38,52
52,Birla Institute of TechnologyMore Details | |,Ranchi,Jharkhand,50.68,53
53,UPESMore Details | |,Dehradun,Uttarakhand,50.63,54
54,International Institute of Information Technol...,Hyderabad,Telangana,50.33,55
55,National Institute of Technology PatnaMore Det...,Patna,Bihar,50.16,56
56,Defence Institute of Advanced TechnologyMore D...,Pune,Maharashtra,50.14,57
57,National Institute of Technology KurukshetraMo...,Kurukshetra,Haryana,49.89,58
58,"Indian Institute of Technology, TirupatiMore D...",Yerpedu,Andhra Pradesh,49.80,59
59,Netaji Subhas University of Technology (NSUT)M...,South West,Delhi,49.68,60
60,Manipal Institute of TechnologyMore Details | |,Manipal,Karnataka,49.62,61
61,Graphic Era UniversityMore Details | |,Dehradun,Uttarakhand,49.59,62
62,PSG College of TechnologyMore Details | |,Coimbatore,Tamil Nadu,49.43,63
63,Saveetha Institute of Medical and Technical Sc...,Chennai,Tamil Nadu,49.30,64
64,Sardar Vallabhbhai National Institute of Techn...,Surat,Gujarat,49.00,65
65,Sathyabama Institute of Science and Technology...,Chennai,Tamil Nadu,48.87,66
66,Indian Institute of Technology JammuMore Detai...,Jammu,Jammu and Kashmir,48.15,67
67,Banasthali VidyapithMore Details | |,Banasthali,Rajasthan,47.93,68
68,Indian Institute of Technology PalakkadMore De...,Palakkad,Kerala,47.86,69
69,"National Institute of Technology, RaipurMore D...",Raipur,Chhattisgarh,47.69,70
70,University of HyderabadMore Details | |,Hyderabad,Telangana,47.51,71
71,National Institute of Technology MeghalayaMore...,Shillong,Meghalaya,47.27,72
72,"College of Engineering, PuneMore Details | |",Pune,Maharashtra,46.89,73
73,International Institute of Information Technol...,Bengaluru,Karnataka,46.58,74
74,Indraprastha Institute of Information Technolo...,New Delhi,Delhi,46.57,75
75,Manipal University JaipurMore Details | |,Jaipur,Rajasthan,46.39,76
76,Sri Krishna College of Engineering and Technol...,Coimbatore,Tamil Nadu,46.03,77
77,M. S. Ramaiah Institute of TechnologyMore Deta...,Bengaluru,Karnataka,45.99,78
78,Rajiv Gandhi Institute of Petroleum Technology...,Amethi,Uttar Pradesh,45.97,79
79,Maulana Azad National Institute of TechnologyM...,Bhopal,Madhya Pradesh,45.90,80
80,Indian Institute of Technology BhilaiMore Deta...,Raipur,Chhattisgarh,45.86,81
81,National Institute of Technology SrinagarMore ...,Srinagar,Jammu and Kashmir,45.70,82
82,Jawaharlal Nehru Technological UniversityMore ...,Hyderabad,Telangana,44.75,83
83,Guru Gobind Singh Indraprastha UniversityMore ...,New Delhi,Delhi,44.31,84
84,"Vignan's Foundation for Science, Technology an...",Guntur,Andhra Pradesh,43.74,85
85,Rajalakshmi Engineering CollegeMore Details | |,Chennai,Tamil Nadu,43.46,86
86,Vel Tech Rangarajan Dr. Sagunthala R & D Insti...,Chennai,Tamil Nadu,43.43,87
87,Atal Bihari Vajpayee Indian Institute of Infor...,Gwalior,Madhya Pradesh,43.41,88
88,Indian Institute of Information Technology All...,Prayagraj (Allahabad),Uttar Pradesh,43.29,89
89,National Institute of Technology GoaMore Detai...,Ponda,Goa,43.28,90
90,National Institute of Technology AgartalaMore ...,Agratala,Tripura,43.24,91
91,Chitkara UniversityMore Details | |,Rajpura,Punjab,42.48,92
92,Indian Institute Of Technology DharwadMore Det...,Dharwad,Karnataka,42.36,93
93,AU College of Engineering (A)More Details | |,Visakhapatnam,Andhra Pradesh,42.32,94
94,National Institute of Technology ManipurMore D...,Imphal,Manipur,42.28,95
95,R.V. College of EngineeringMore Details | |,Bengaluru,Karnataka,42.22,96
96,Pandit Dwarka Prasad Mishra Indian Institute o...,Jabalpur,Madhya Pradesh,42.14,97
97,SR UniversityMore Details | |,Warangal,Telangana,42.09,98
98,"Amity University Haryana, GurgaonMore Details | |","Gurugram, Haryana",Haryana,41.99,99
99,"C.V. Raman Global University, OdishaMore Detai...",Bhubaneswar,Odisha,41.93,100

### NIRF BANGALORE RANKINGS

In [12]:
df1[df1['City']=="Bengaluru"]

,Name,City,State,Score,Rank
73,International Institute of Information Technol...,Bengaluru,Karnataka,46.58,74
77,M. S. Ramaiah Institute of TechnologyMore Deta...,Bengaluru,Karnataka,45.99,78
95,R.V. College of EngineeringMore Details | |,Bengaluru,Karnataka,42.22,96

### NIRF HYDERABAD RANKINGS

In [13]:
df1[df1['City']=="Hyderabad"]

,Name,City,State,Score,Rank
7,Indian Institute of Technology HyderabadMore D...,Hyderabad,Telangana,70.28,8
54,International Institute of Information Technol...,Hyderabad,Telangana,50.33,55
70,University of HyderabadMore Details | |,Hyderabad,Telangana,47.51,71
82,Jawaharlal Nehru Technological UniversityMore ...,Hyderabad,Telangana,44.75,83