# Quality of Life Scraping and Analysis

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [45]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', None)  
pd.set_option('display.width', None)

In [64]:
def Numbeo_Costofliving_scrape(url):
    driver=webdriver.Chrome()
    driver.get(url)
    #driver.find_element(By.TAG_NAME,"body").send_keys("Keys.ESCAPE");
    table=driver.find_element(By.CLASS_NAME,'limit_size_ad_right').get_attribute("outerHTML")
    df= pd.read_html(table)[0]
    return df

In [65]:
df=Numbeo_Costofliving_scrape("https://www.numbeo.com/cost-of-living/compare_cities.jsp?country1=India&country2=India&city1=Hyderabad&city2=Bangalore&tracking=getDispatchComparison")
df=df.drop(columns=['Unnamed: 1'])

## Cost Of Living Comparison Between Hyderabad and Bangalore

In [53]:
for i in range(len(df)):
    print(df.loc[i,'Indices Difference'])

Cost of Living in Bangalore is 13.1% higher than in Hyderabad (without rent)
Cost of Living Including Rent in Bangalore is 18.5% higher than in Hyderabad
Rent Prices in Bangalore are 41.2% higher than in Hyderabad
Restaurant Prices in Bangalore are 11.0% higher than in Hyderabad
Groceries Prices in Bangalore are 12.7% higher than in Hyderabad
Local Purchasing Power in Bangalore is 12.1% lower than in Hyderabad

In [59]:
def Numbeo_Crime_scrape(url):
    driver=webdriver.Chrome()
    driver.get(url)
    #driver.find_element(By.TAG_NAME,"body").send_keys("Keys.ESCAPE");
    
    global df_crime_index
    table=driver.find_element(By.CLASS_NAME,'data_wide_table').get_attribute("outerHTML")
    df= pd.read_html(table)[0]
    table2=driver.find_element(By.CLASS_NAME,'table_indices').get_attribute("outerHTML")
    df_crime_index=pd.read_html(table2)[0]
    return df

In [63]:
df_crime_blr=Numbeo_Crime_scrape("https://www.numbeo.com/crime/in/Bangalore")

In [69]:
df_crime_blr=df_crime_blr.drop(columns=[1])
df_crime_blr.rename(columns={0: 'Name',2:'Index',3:'Description'}, inplace=True)

## Bangalore Crime Summary

In [70]:
df_crime_blr

,Name,Index,Description
0,Level of crime,56.15,Moderate
1,Crime increasing in the past 5 years,65.53,High
2,Worries home broken and things stolen,49.44,Moderate
3,Worries being mugged or robbed,53.88,Moderate
4,Worries car stolen,48.92,Moderate
5,Worries things from car stolen,52.46,Moderate
6,Worries attacked,53.07,Moderate
7,Worries being insulted,53.23,Moderate
8,"Worries being subject to a physical attack because of your skin color, ethnic origin, gender or religion",43.76,Moderate
9,Problem people using or dealing drugs,50.00,Moderate
10,Problem property crimes such as vandalism and theft,56.19,Moderate
11,Problem violent crimes such as assault and armed robbery,50.79,Moderate
12,Problem corruption and bribery,80.15,Very High

In [72]:
df_crime_index.rename(columns={'Unnamed: 1': 'Index'}, inplace=True)

## Overall Crime Index Bangalore

In [73]:
df_crime_index

           Index  Index
0   Crime Index:  54.46
1  Safety Index:  45.54

In [80]:
df_crime_hyd=Numbeo_Crime_scrape("https://www.numbeo.com/crime/in/Hyderabad")

In [81]:
df_crime_hyd=df_crime_hyd.drop(columns=[1])
df_crime_hyd.rename(columns={0: 'Name',2:'Index',3:'Description'}, inplace=True)

## Hyderabad Crime Summary

In [77]:
df_crime_hyd

,Name,Index,Description
0,Level of crime,42.84,Moderate
1,Crime increasing in the past 5 years,51.81,Moderate
2,Worries home broken and things stolen,41.95,Moderate
3,Worries being mugged or robbed,40.99,Moderate
4,Worries car stolen,36.19,Low
5,Worries things from car stolen,40.61,Moderate
6,Worries attacked,39.98,Low
7,Worries being insulted,41.11,Moderate
8,"Worries being subject to a physical attack because of your skin color, ethnic origin, gender or religion",32.30,Low
9,Problem people using or dealing drugs,42.57,Moderate
10,Problem property crimes such as vandalism and theft,48.77,Moderate
11,Problem violent crimes such as assault and armed robbery,40.82,Moderate
12,Problem corruption and bribery,72.90,High

In [82]:
#df_crime_index.rename(columns={'Unnamed: 1': 'Index'}, inplace=True)

## Overall Crime Index Hyderabad

In [79]:
df_crime_index

           Index  Index
0   Crime Index:  43.22
1  Safety Index:  56.78

In [83]:
def Numbeo_Health_scrape(url):
    driver=webdriver.Chrome()
    driver.get(url)
    #driver.find_element(By.TAG_NAME,"body").send_keys("Keys.ESCAPE");
    
    global df_health_index
    table=driver.find_element(By.CLASS_NAME,'data_wide_table').get_attribute("outerHTML")
    df= pd.read_html(table)[0]
    table2=driver.find_element(By.CLASS_NAME,'table_indices').get_attribute("outerHTML")
    df_health_index=pd.read_html(table2)[0]
    return df

In [94]:
df_health_blr=Numbeo_Health_scrape("https://www.numbeo.com/health-care/in/Bangalore")

In [92]:
df_health_blr=df_health_blr.drop(columns=['Satisfaction %'])
df_health_blr.rename(columns={'Satisfaction %.1': 'Satisfaction %','Unnamed: 3':'Description'}, inplace=True)

## Bangalore Health-Care Summary

In [95]:
df_health_blr

,Component of health care surveyed,Satisfaction %,Description
0,Skill and competency of medical staff,72.54,High
1,Speed in completing examinations and reports,71.07,High
2,Equipment for modern diagnosis and treatment,75.59,High
3,Accuracy and completeness in filling out reports,72.45,High
4,Friendliness and courtesy of the staff,67.84,High
5,Satisfaction with responsiveness (waitings) in medical institutions,57.70,Moderate
6,Satisfaction with cost to you,47.86,Moderate
7,Convenience of location for you,72.64,High

In [97]:
df_health_index.rename(columns={'Unnamed: 1': 'Value'}, inplace=True)

## Overall Health Index Bangalore

In [98]:
df_health_index

                       Index  Index
0  Health Care System Index:  65.06

In [105]:
df_health_hyd=Numbeo_Health_scrape("https://www.numbeo.com/health-care/in/Hyderabad")

In [106]:
df_health_hyd=df_health_hyd.drop(columns=['Satisfaction %'])
df_health_hyd.rename(columns={'Satisfaction %.1': 'Satisfaction %','Unnamed: 3':'Description'}, inplace=True)

## Hyderabad Health Care Summary

In [102]:
df_health_hyd

,Component of health care surveyed,Satisfaction %,Description
0,Skill and competency of medical staff,74.86,High
1,Speed in completing examinations and reports,70.74,High
2,Equipment for modern diagnosis and treatment,75.95,High
3,Accuracy and completeness in filling out reports,72.68,High
4,Friendliness and courtesy of the staff,61.89,High
5,Satisfaction with responsiveness (waitings) in medical institutions,54.97,Moderate
6,Satisfaction with cost to you,51.64,Moderate
7,Convenience of location for you,74.59,High

In [103]:
df_health_index.rename(columns={'Unnamed: 1': 'Value'}, inplace=True)

## Overall Health Index Hyderabad

In [104]:
df_health_index

                       Index  Value
0  Health Care System Index:  65.44

In [109]:
def Numbeo_Health_scrape(url):
    driver=webdriver.Chrome()
    driver.get(url)
    #driver.find_element(By.TAG_NAME,"body").send_keys("Keys.ESCAPE");
    
    global df_clean_index
    table=driver.find_elements(By.CLASS_NAME,'data_wide_table')[0].get_attribute("outerHTML")
    df= pd.read_html(table)[0]
    table2=driver.find_elements(By.CLASS_NAME,'data_wide_table')[1].get_attribute("outerHTML")
    df_clean_index=pd.read_html(table2)[0]
    return df

In [119]:
df_Pollution_blr=Numbeo_Health_scrape("https://www.numbeo.com/pollution/in/Bangalore")

In [115]:
df_Pollution_blr=df_Pollution_blr.drop(columns=[1])
df_Pollution_blr.rename(columns={0: 'Name',2: 'Index',3:'Description'}, inplace=True)

## Bangalore Pollution Stats

In [116]:
df_Pollution_blr

                                               Name  Index Description
0                                     Air Pollution  72.96        High
1      Drinking Water Pollution and Inaccessibility  63.72        High
2             Dissatisfaction with Garbage Disposal  77.61        High
3                                  Dirty and Untidy  72.51        High
4                         Noise and Light Pollution  66.38        High
5                                   Water Pollution  79.20        High
6    Dissatisfaction with Spending Time in the City  68.55        High
7  Dissatisfaction with Green and Parks in the City  51.76    Moderate

In [117]:
df_clean_index=df_clean_index.drop(columns=[1])
df_clean_index.rename(columns={0: 'Name',2: 'Index',3:'Description'}, inplace=True)

## Bangalore Purity Stats

In [118]:
df_clean_index

                                       Name  Index Description
0                               Air quality  27.04         Low
1  Drinking Water Quality and Accessibility  36.28         Low
2             Garbage Disposal Satisfaction  22.39         Low
3                            Clean and Tidy  27.49         Low
4    Quiet and No Problem with Night Lights  33.62         Low
5                             Water Quality  20.80         Low
6     Comfortable to Spend Time in the City  31.45         Low
7                Quality of Green and Parks  48.24    Moderate

In [125]:
df_Pollution_hyd=Numbeo_Health_scrape("https://www.numbeo.com/pollution/in/Hyderabad")

In [121]:
df_Pollution_hyd=df_Pollution_hyd.drop(columns=[1])
df_Pollution_hyd.rename(columns={0: 'Name',2: 'Index',3:'Description'}, inplace=True)

## Hyderabad Pollution Stats

In [123]:
df_Pollution_hyd

                                               Name  Index Description
0                                     Air Pollution  68.39        High
1      Drinking Water Pollution and Inaccessibility  54.65    Moderate
2             Dissatisfaction with Garbage Disposal  66.27        High
3                                  Dirty and Untidy  64.83        High
4                         Noise and Light Pollution  60.53        High
5                                   Water Pollution  70.25        High
6    Dissatisfaction with Spending Time in the City  63.25        High
7  Dissatisfaction with Green and Parks in the City  56.95    Moderate

## Hyderabad Purity Stats

In [122]:
df_clean_index=df_clean_index.drop(columns=[1])
df_clean_index.rename(columns={0: 'Name',2: 'Index',3:'Description'}, inplace=True)

In [124]:
df_clean_index

                                       Name  Index Description
0                               Air quality  31.61         Low
1  Drinking Water Quality and Accessibility  45.35    Moderate
2             Garbage Disposal Satisfaction  33.73         Low
3                            Clean and Tidy  35.17         Low
4    Quiet and No Problem with Night Lights  39.47         Low
5                             Water Quality  29.75         Low
6     Comfortable to Spend Time in the City  36.75         Low
7                Quality of Green and Parks  43.05    Moderate